.User {
	position: relative;
	top: 50px;

	/* Layout */
	display: flex;
}

.User .img img {
	width: 400px;
	border-radius: 200%;
}

.User .info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-left: 30px;
}

.User .info h5 {
	font-size: 1.4rem;
	padding: 10px;
}

.User .info a {
	text-decoration: none;
	padding: 14px;
	border-radius: 15px;
	background: var(--main-blue-color);
	text-align: center;
	color: var(--main-white-color);
	margin-left: 10px;
	margin-top: 10px;
	width: 100%;
}

.User .info a:hover {
	background: var(--main-white-color);
	border: 1px var(--main-blue-color) solid;
	color: 1px var(--main-blue-color) solid;
}

@media screen and (max-width: 800px) and (min-width: 557px) {
	.User {
		height: 55em;
		display: grid;
		top: 120px;
	}

	.User .img img {
		position: relative;
		top: 150px;
		width: 100%;
		padding: 10px;
	}
	.User .info {
		margin-left: unset;
		padding: 10px;
	}
	.User .info a {
		width: 100%;
		margin-left: unset;
	}
}
@media screen and (max-width: 556px) {
	.User {
		height: 55em;
		display: grid;
		top: 120px;
	}

	.User .img img {
		position: relative;
		top: 150px;
		width: 100%;
		padding: 10px;
	}
	.User .info {
		margin-left: unset;
		padding: 10px;
	}
	.User .info a {
		width: 100%;
		margin-left: unset;
	}
}
